@font-face {
    font-family: 'SF UI Text';
    src: url('fonts/sfuitext-regular-webfont.woff2') format('woff2'),
         url('fonts/sfuitext-regular-webfont.ttf') format('ttf'),
         url('fonts/sfuitext-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('fonts/sfuitext-bold-webfont.woff2') format('woff2'),
         url('fonts/sfuitext-bold-webfont.ttf') format('ttf'),
         url('fonts/sfuitext-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('fonts/sfuitext-medium-webfont.woff2') format('woff2'),
         url('fonts/sfuitext-medium-webfont.ttf') format('ttf'),
         url('fonts/sfuitext-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
